extends layout 

block content 
  .main
    .header
      div
        h1 Sales Recording
        p 0 sales today &middot; Revenue: 0.00M UGX
      .text-center
        a.btn-new(href='/addsale') + New Sale
    // sales summary
    .stats-grid
      .stat-card
        small Total Sales (All Time)
        //- h2 4
        h2 #{stats.salesToday.toLocaleString()}UGX
        //- p(style='color:#2563eb') 4.79M UGX revenue                    
      .stat-card
        small Sales Today
        h2 0
        p(style='color:#2563eb') 0.00M UGX revenue
      .stat-card
        small Average Sale Value
        h2 1.20M
        p Per transaction
    // recent transaction table
    h3 Recent Transactions
    table.sales-table
      thead
        tr
          th Product Name 
          th Quantity
          th Selling Price
          th Total 
          //- th Total(UGX)
          th Customer Name
          th Customer Contact 
          th Attendant 
          th Date 
          if user.userrole === "salesattendant" || user.userrole === "admin"
          th Action 
      tbody
        each sale in dbSales
          tr
            td #{sale.product ? sale.product.productname:'Item deleted'}
            td #{sale.qty}
            td #{sale.sellingprice}
            td #{(sale.qty)*(sale.sellingprice)} 
            td #{sale.customername}
            td #{sale.customercontact}
            td #{sale.attendant ? sale.attendant.fullname:'unknown'}
            //- td #{sale.attendant ? sale.attendant.firstname + '' + sale.attendant.lastname:'unknown' }
            td #{new Date(sale.date).toLocaleString()}
            if user.userrole === "salesattendant" || user.userrole === "admin"
            td
              .d-flex.gap-2  
                a.btn.btn-sm.btn-outline-warning(href=`/sale/edit/${sale._id}`)
                  i.fas.fa-edit
                form(action=`/sale/delete/${sale._id}` method="post" onsubmit='return confirm("Are you sure you want to delete this item?");')
                  button.btn.btn-sm.btn-outline-danger(type='submit')
                    i.fas.fa-trash-alt 
        if dbSales.length === 0
          tr 
            td.text-center(colspan='6') No sales have been recorded yet.
