extends layout

block content 
  .dashboard
    h1 Stock Management
    p.stats
      | 17 products &middot; Total Stock value: #{stats.stockValue.toLocaleString()}UGX
    //- .controls
    .text-center
    a.btn-add(href='/add_stock') + Add Stock
    table
      thead
        tr
          th Product Name
          th Product Image
          //- th Category
          //- th Unit 
          
          //- th Factory Name
          //- th Factory Contact
          //- th Supplier Name
          th Quantity
          th Unit Cost
          th Total
          th Selling Price
          th Date
          if user.userrole === "stockmanager" || user.userrole === "admin"
            th Action
      tbody
        each product in dbStock
          tr
            td #{product.productname}
            td 
              img(src='/'+product.image alt='Product image' width='80px' height='80px')
            //- td #{product.category}
            //- td #{product.unit}
            td
              if product.quantity === 0
                span.badge.bg-danger Out of Stock
              else if product.quantity <= 20
                span.badge.bg-warning.text-dark Low Stock (#{product.quantity})
              else
                span.text-success #{product.quantity}
           
            //- td #{product.factoryname}
            //- td #{product.suppliercontact}
            //- td #{product.suppliername}
            //- td #{product.quantity}
            td #{product.unitcost}
            td #{(product.quantity)*(product.unitcost)} 
            td #{product.sellingprice}
            //- td #{sale.attendant ? sale.attendant.fullname:'unknown'}
            //- td #{sale.attendant ? sale.attendant.firstname + '' + sale.attendant.lastname:'unknown' }
            td #{new Date(product.date).toLocaleString()}
            if user.userrole === "stockmanager" || user.userrole === "admin"
              td 
                .d-flex.gap-2 
                  a.btn.btn-sm.btn-outline-warning(href=`/stock/edit/${product._id}`)
                    i.fas.fa-edit
                  form(action=`/delete/${product._id}` method="post" onsubmit='return confirm("Are you sure you want to delete this item?");')
                    button.btn.btn-sm.btn-outline-danger(type='submit')
                      i.fas.fa-trash-alt 
        if dbStock.length === 0
            tr 
            td.text-center(colspan='11') No stock has been recorded yet.
