doctype html
head
  meta(charset='UTF-8')
  title Store Dashboard
  link(rel='stylesheet' href='/css/board.css')
.sidebar
  h2 NYONDO
  p Store Manager
  //- a(href='#') Dashboard
  a(href='/stock') Stock
  a.logout(href='/logout') Logout
.main
  .top
    h1 Store Dashboard
    p Inventory control
  .cards
    .card
      h3 Total Stock
      h2 #{stats.stockValue.toLocaleString()}UGX
    .card
      h3 Low Stock
      h2 #{stats.lowStockCount}
    .card
      h3 Out of Stock
      h2 #{stats.outOfStockCount}
    .card
      h3 Items
      h2 #{stats.totalProducts}
  .section
    h3 Stock Alerts
    each item in dbStock
      if item.quantity === 0
        .item
          span #{item.productname}
          span(style="color: red; font-weight: bold;") Out of Stock
      else if item.quantity <= 20
        .item
          span #{item.productname}
          span(style="color: orange;") Low Stock (#{item.quantity} left)
    else
      p No stock alerts at the moment!
    //- .item
    //-   span Wire Mesh
    //-   span Low
    //- .item
    //-   span Nails
    //-   span Critical
