extends layout

block content 
  .dashboard
    h1 Supplier Management
    
    table
      thead
        tr
          th Factory Name
          th Supplier Name
          
          th Factory Contact
          th Product Name
          th Total
          th Quantity
          th Date
          th Payment Status
          if user.userrole === "stockmanager" || user.userrole === "admin"
            th Action
      tbody
        each product in dbStock
          tr
            
            td #{product.factoryname}
            td #{product.suppliername}
            
           
            td #{product.suppliercontact}
            td #{product.productname}
            td #{product.total}
            td #{product.originalQuantity}
            td #{new Date(product.date).toLocaleString()}
            td #{product.paymentstatus}
            if user.userrole === "stockmanager" || user.userrole === "admin"
              td 
                .d-flex.gap-2 
                  a.btn.btn-sm.btn-outline-warning(href=`/supplier/edit/${product._id}`)
                    i.fas.fa-edit
                  form(action=`/delete/${product._id}` method="post" onsubmit='return confirm("Are you sure you want to delete this item?");')
                    button.btn.btn-sm.btn-outline-danger(type='submit')
                      i.fas.fa-trash-alt 
        if dbStock.length === 0
            tr 
            td.text-center(colspan='11') No stock has been recorded yet.
